ul#nav_menu {
    background:#0094ff;
    border: 1px solid #0026ff;
    list-style: none;
    margin: 5px 2px 2px 20px;
    width: 100%;
    height: 40px;
}

.nav_element{
    float: left;
    width: 100px;
    height: 40px;
    display: block;
}

body {
    
    
}
