﻿@{
   var message = "This is the first time you've requested the page.";

   if(IsPost){
      message = "Now you've submitted the page.";
   }

   var showMessage = false;
   if(Request.QueryString["show"].AsBool() == true){
     showMessage = true;
   }
}

<link rel="stylesheet" type="text/css" href="css/Simple.css" media="screen" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CARS</title>
    <meta charset="utf-8" />
    <style>
      body {font-family:Verdana; margin-left:50px; margin-top:50px;}
      div {border: 1px solid black; width:50%; margin:1.2em;padding:1em;}
    </style>
    </head>
  <ul id="nav_menu">
  <li class="nav_element"><a href="">HOME</a></li>    
  <li class="nav_element"><a href="toyota">TOYOTA</a> </li>
  <li class="nav_element"><a href="">MERCEDES</a></li>
  <li class="nav_element"><a href="">FERRARI</a></li>
  <li class="nav_element"><a href="">LAMBORGHINI</a></li>
  <li class="nav_element"><a href="about">About</a></li>
  </ul>
  
  <body>
  <form method="post">
    <div>
      <!--<p>@message</p>-->
      @if(showMessage){  
        <p>@message</p>
      }
      <p><input type="submit" value="Submit" /></p>
      @if(IsPost){
        <p>You submitted the page at @DateTime.Now</p>
      }
    </div>
  </form>
</body>
</html>