﻿<html> 
<body> 
<h1>TOYOTA</h1> 
<table> 
<tr>
<th>ID</th> 
<th>Name</th> 
</tr>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.Name</td> 
<td>@row.Model</td>
<td>@row.Price</td>     
</tr> 
}
</table> 

</body> 
@{
var db = Database.Open("Cars"); 
var selectQueryString = "SELECT * FROM Toyota ORDER BY Name"; 
if(IsPost)
{
var Brand = Request.Form["Brand"];
var Name = Request.Form["Name"];
var Model = Request.Form["Model"];
var Price = Request.Form["Price"];

db.Execute("INSERT INTO @0 (Name, Model, Price) VALUES (@1, @2, @3)", Brand, Name, Model, Price);
}
else {
    <form action="" method="post">
    Brand: <input type="text" name="Brand">
    Name: <input type="text" name="Name">
    Model: <input type="text" name="Model">
    Price: <input type="text" name="Price">
    <input class="button" type="submit" value="AddCar!">
    </form>
}
}

</html>
